.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;

  .box {
    height: 300px;
    &.box1,&.box2 {
      padding-bottom: 25px;
    }
    &.box3 {
      grid-column: span 2;
      padding: 10px;
    }
    
  }
  .css-kzyyzb-MuiDataGrid-root{
    height: 80vh;
  }
}
